*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  margin: 8px;
}

header {
  width: 100%;
  background-color: #fef8e6;
  height: 80px;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  width: 39%;
  height: 300px;
  color: #490f0fcb;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 60px;
  background-color: #fef8e6;
  margin: 30px;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  background-image: url("./assets/imgs/honey.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 100%;
}

.text {
  text-align: center;
  color: #4a2e14;
  font-size: 0.9em;
}

.content {
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.text span {
  font-weight: bold;
  color: #4a2e14;
  font-size: 1.2em;
}

.price {
  color: #4a2e14;
  font-size: 1.1em;
  order: 5;
}

.addToCart {
  background-color: #fdd96e;
  color: #4a2e14;
  border: none;
  border-radius: 20px;
  padding: 10px 33px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
h1 {
  color: #4a2e14;
}

.navigationBar {
  height: 85px;
  display: flex;
  background-color: #fef8e6;
}
.buttons {
  background-color: #fdd96e;
  color: #4a2e14;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  margin: 10px auto;
  text-align: center;
  height: 30px;
  font-weight: bold;
  align-self: center;
  width: 100px;
  height: 39px;
}
.bigButton {
  height: 65px;
  width: 100px;
  background-color: #fdd96e;
  color: #4a2e14;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}
.bigButton img {
  height: 20px;
}

.article {
  color: #83470e;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fef8e6;
  margin-top: 25px;
  border-radius: 20px;
}

.article img {
  width: 100%;

  margin-right: 0.5rem;
  margin-top: 25px;
}
.article p {
  margin-right: 20px;
  font-size: 0.8rem;
}
.clearfix {
  display: block;
  clear: both;
}

@media (max-width: 576px) {
  article img {
    order: unset;
  }
}
